@import "tailwindcss";

:root {
	--background: #191919;
	--foreground: #ededed;
	--font-roboto: var(--font-roboto);
	--font-fira-mono: var(--font-fira-mono);
}

@theme inline {
	--font-sans: var(--font-roboto);
	--font-mono: var(--font-fira-mono);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #191919;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-roboto);
}
